@import url("https://fonts.googleapis.com/css2?family=Alkalami&family=Nunito+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkalami&family=Nunito+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap");
.my-font {
  font-family: Alkalami;
}

body {
  font-family: Abyssinica SIL;
  height: 100vh;
}
